  /* Application-wide Styles */
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  p {
    margin: 2em;
    color: aqua;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  h1 {
    color: rgb(187, 135, 38);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    }
/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}