/* test hover 
p {
    width: 400px;
    height: 100px;
    background: red;
    transition: width 2s;
  }
  
  p:hover {
    width: 800px;
  } */
  div {
    width: 400px;
    height: 100px;
    position: relative;
    animation: mymove 15s infinite;
  }

  div:hover {
    transform: rotate(-3deg);
    zoom: 1.5;
    -moz-transform: scale(1.5);
  }
  
  @keyframes mymove {
    0% {left: 0%;}
    50% {left: 80%;}
    100% {left: 0%;}
  }

  p {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 60s infinite linear;
    -webkit-animation: hue 60s infinite linear;
}

@keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}
