<h1 mat-dialog-title>Add dogs</h1>
<div mat-dialog-content>
    
  <mat-form-field *ngIf="idBool == true">
    <mat-label>Dog ID</mat-label>
    <input matInput [(ngModel)]="data.ID">
  </mat-form-field>
  <p>Dog name: </p>
  <mat-form-field>
    <mat-label>Dog name</mat-label>
    <input matInput [formControl]="nameForm" required [(ngModel)]="data.Name">
    <mat-error *ngIf="nameForm.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <p>Dog breed: </p>
  <mat-form-field>
    <mat-label>Dog breed</mat-label>
    <input matInput [formControl]="nameForm" required [(ngModel)]="data.Breed">
    <mat-error *ngIf="nameForm.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <p>Dog weight: </p>
  <mat-form-field>
    <mat-label>Dog weight</mat-label>
    <input matInput [formControl]="weightForm" [(ngModel)]="data.Weight">
    <mat-error *ngIf="weightForm.invalid">{{getNumberMessage()}}</mat-error>
  </mat-form-field>
  <p>Dog pup status: </p>
  <mat-form-field>
    <mat-label>Dog pup</mat-label>
    <input matInput [formControl]="nameForm" required [(ngModel)]="data.Pup">
    <mat-error *ngIf="nameForm.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Close</button>
  <!-- if weightForm is valid && nameForm values exist (string can be any), show Ok button -->
  <button *ngIf="data.Pup && data.Breed && data.Name && weightForm.valid" mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>