<h1>All the dogs</h1>

 <section>
    <!-- <button mat-raised-button color="red">Primary</button>
    <button mat-raised-button color="blue">Accent</button> -->
    <button mat-raised-button (click)="openDialog()">Add dogs to table</button>
</section> 

<table mat-table #table [dataSource]="array" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>

    <!-- Breed Column -->
    <ng-container matColumnDef="Breed">
      <th mat-header-cell *matHeaderCellDef> Breed </th>
      <td mat-cell *matCellDef="let element"> {{element.Breed}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.Weight}} </td>
    </ng-container>

    <!-- pup Column -->
    <ng-container matColumnDef="Pup">
      <th mat-header-cell *matHeaderCellDef> Pup </th>
      <td mat-cell *matCellDef="let element"> {{element.Pup}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>

  <router-outlet></router-outlet>

  <app-feature-module></app-feature-module>
