/* dogsComponent's private CSS styles */
.dogs {
    margin: 0 0 2em 0;
    padding: 0;
    width: 15em;
    font-family: Cambria, Georgia, serif;
  }
  button {
    font-family: Arial, Helvetica, sans-serif;
  }
   li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.0em;
    border-radius: 4px;
  }
   li:hover {
    color: #597685;
    background-color: #e6e6e6;
    left: .1em;
  }
   li.selected {
    background-color: black;
    color: white;
  }
   li.selected:hover {
    background-color: #505050;
    color: white;
  }
   li.selected:active {
    background-color: black;
    color: white;
  }
  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#eb6517;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  input {
    padding: .5rem;
  }
  h1 {
  color: rgb(187, 135, 38);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  }
  * {
    font-family: Arial, Helvetica, sans-serif;
  }