<h1>Doggo Tier Rankings</h1>
<!-- <a [routerLink]="['/products/', dogs.id]">{{dogs.id}}<span> </span>{{dogs.name}}</a> -->
<div>
	<label id="new-dogs">Who's a good boy: </label>
	<input for="new-dogs" #dogsName />
  
	<!-- (click) passes input value to add() func -->
	<button class="add-button" (click)="add(dogsName.value); dogsName.value=''">
	  Add dog
	</button>
  </div>

<ul>
	<li *ngFor="let dogs of doggos"
		
		[class.selected]="dogs === selectedDogs"
    (click)="onSelect(dogs)">
    <button class="badge">{{dogs.id}}</button> {{dogs.name}}
	</li>
</ul>

<product-detail [dogs]="selectedDogs"></product-detail>

<!-- <a routerLink="/">Go To Home</a> -->
